<y-header></y-header>

<!-- Container for sidebar(s) + page content -->
<div class="y-sidenav-container">
   
      <router-outlet></router-outlet>

</div>

<!-- <mat-sidenav-container class="example-container">
    <mat-sidenav mode="side" [opened]="true">
        <mat-nav-list>
            <mat-list-item>
                <a matLine routerLink="challenges">Challenges</a>
            </mat-list-item>
            <mat-list-item>
                <a matLine href="...">Friends</a>
            </mat-list-item>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container> -->

