<div class="y-edit-measurements">
  <form>


    <div *ngFor="let c of categories" class="y-edit-measurements__category">
        <div class="y-edit-measurements__category-name">
          {{ c.name }}
        </div>

        <div *ngFor="let m of c.measurements" class="y-edit-measurements__item"
              [ngClass]="{ 'filled': m.filled }"
          >
         
              <div class="y-edit-measurements__item__name">
                  {{ m.displayName }}
              </div>
              <div class="y-edit-measurements__item__value">
                  <div *ngIf="m.type === 'number'">
                      <mat-form-field class="example-full-width">
                        <input matInput
                               name="{{m.id}}"
                               type="number"
                               placeholder="Enter number"
                               [formControl]="m.formControl"
                        >
                      </mat-form-field>
                  </div>
                  <div *ngIf="m.type === 'boolean'">
                        <mat-checkbox
                            name="{{m.id}}"
                            [formControl]="m.formControl"
                          >
                        </mat-checkbox>
                  </div>
                  <div *ngIf="m.type === 'string'">
                      <mat-form-field class="example-full-width">
                        <textarea name="{{m.id}}"
                                  matInput
                                  rows="1"
                                  placeholder="Drop some words"
                                  [formControl]="m.formControl"
                          >   
                        </textarea>
                      </mat-form-field>
                  </div>
    
                  <div *ngIf="m.type === 'combine'">
                      <mat-form-field class="example-full-width">
                        <input matInput
                               name="{{m.id}}"
                               type="number"
                               placeholder="Value will appear here"
                               [formControl]="m.formControl"
                        >
                      </mat-form-field>
                  </div>
              </div>
              
            </div>
    </div>
 

  </form>
</div>
