<div class="y-create-challenge-root">
    <div class="y-title-1">
        Create Challenge
    </div>

    <div>
        <y-create-review-bar [currentStep]="currentStep"
                             (stepClick)="goToStep($event)"
            >

        </y-create-review-bar>
    </div>

    <div [hidden]="currentStep !== Steps.GENERAL" class="step-wrap">
        <y-create-general-info [challengeNameControl]="nameControl"
                               [challengeDescriptionControl]="descriptionControl"
                        >
        </y-create-general-info>
    </div>

    <div [hidden]="currentStep !== Steps.SCHEDULE" class="step-wrap">
        <y-create-schedule [typeControl]="typeControl"
                            [startDateControl]="startDateControl"
                            [endDateControl]="endDateControl"
                            [selectedDatesControl]="selectedDatesControl"
                            [fillRuleFg]="fillRuleFg"
            >
        </y-create-schedule>
    </div>


    <div [hidden]="currentStep !== Steps.FRIENDS">
        <y-user-select [control]="participantsControl"></y-user-select>
    </div>


    <!-- <div [hidden]="currentStep !== Steps.MEASUREMENTS">
        <y-create-measurements [shouldTrackControl]="shouldTrackMeasurements"
                               [measFormArray]="measurementFormArray"
        >
        </y-create-measurements>
    </div> -->

    <!-- EOF Main column wrap -->
    <div class="bottom-bar">
        <button mat-raised-button
            *ngIf="currentStep !== Steps.GENERAL"
            (click)="onPreviousStep()"
            >
            Previous
        </button>
        <button mat-raised-button color="primary"
                (click)="onNextStep()"
            >
            {{ nextButtonText }}
        </button>
    </div>
  

   
</div>
