<mat-form-field class="example-full-width">
    <input type="text"
           placeholder="{{placeholder}}"
           matInput
           [formControl]="inputControl"
           [matAutocomplete]="auto">
    <mat-autocomplete #auto="matAutocomplete"
                      [displayWith]="displayFn"
                      (optionSelected)="onOptionSelected($event)"
      >
      <mat-option *ngFor="let option of filteredOptions$ | async" [value]="option">
        {{ option.display }}
      </mat-option>
      <div *ngIf="inputControl.valueChanges | async; let input;">
        <mat-option *ngIf="showDefultOption$ | async" (click)="onDefaultOptionClicked(input, $event)"
          [value]="input"
          >
          
              {{defaultStr}}<span>&nbsp;"</span><span >{{input}}"</span>
          
        </mat-option>
      </div> 
    </mat-autocomplete>
  </mat-form-field>
