<div *ngIf="challenge$ | async; let challenge;" class="y-details-root">

  <!-- Title -->
  <div class="y-title-1">
    <div class="challenge-name">
        {{ challenge?.displayName }}
    </div>

    <div class="y-challenge-actions">
        <button *ngIf="amIparticipant | async"
                mat-raised-button color="primary"
                (click)="openMeasurements()"
          >
          Measurements
        </button>
        <button *ngIf="isMine | async" mat-raised-button color="primary"
                (click)="openEdit()"
          >
          Edit
        </button>
    </div>
  </div>

  <div class="y-challenge-decription">
      {{ challenge?.description }}
  </div>

  <div class="show-control-wrap">
    <div class="y-label">
      Show
    </div>
    <form [formGroup]="showFormGroup">
        <mat-checkbox *ngFor="let participant of challenge?.participants"
              class="y-checkbox"
              [formControlName]="participant.id"
          >
          {{ participant.displayName }}
        </mat-checkbox>
    </form>
    
    
  </div>


  <div class="y-participants__wrap">
      <div class="y-participants__block">
          <div class="y-participants__info__wrap">
              <div class="y-participants__info">
                <ng-container *ngFor="let p of challenge.participants">
                    <div *ngIf="showFormGroup.get(p.id).value" class="y-participants__info-item">
              
                          <div class="y-participants__info-item__photo">
                              <y-photo [data]="p?.photo?.data"></y-photo>
                          </div>
                          <div class="y-participants__info-item__name">
                              {{ p.displayName }}
                          </div>
                    </div>
                </ng-container>
                 
              </div>
          </div>
        
          <div #daysWrap class="y-participants__days__wrap">
              <div class="y-participants__days">
                <ng-container *ngFor="let p of challenge.participants">
                    <div *ngIf="showFormGroup.get(p.id).value" class="y-participants__days-item">
                        <div *ngFor="let a of p.activities" class="y-participants__days-item__day"
                          >
                              <y-challenge-day-card [activity]="a"
                                                    [nextClosestId]="challenge?.nextClosestDateId"
                                                    (scrollMe)="onScrollDayIntoView($event)"
                                >
                              </y-challenge-day-card>
                          </div>
                    </div>
                </ng-container>
              </div>
          </div>

          <div *ngIf="showScrollUpButton$ | async;" class="y-scroll-up-btn"
               (click)="onScrollUpClicked()"
            >
            <button mat-mini-fab color="primary">
              <mat-icon>keyboard_arrow_up</mat-icon>
            </button>
          </div>

          <div *ngIf="showScrollDownButton$ | async;" class="y-scroll-up-btn"
                (click)="onScrollDownClicked()"
            >
            <button mat-mini-fab color="primary">
              <mat-icon>keyboard_arrow_down</mat-icon>
            </button>
          </div>
       
      </div>
  </div>

</div>
