<div *ngIf="challenge$ | async; let challenge;" class="y-details-root">

  <!-- Title -->
  <div class="y-title-1">
    <div class="y-title-left">
        <div class="y-back-btn__wrap" (click)="goToChallengeList()">
            <mat-icon>keyboard_arrow_left</mat-icon>
        </div>
        <div class="challenge-name">
            {{ challenge?.displayName }}
            <div class="challenge-author" *ngIf="challengeAuthor$ | async; let author;">
              by {{ author.displayName }}
             </div>
        </div>
    </div>

  </div>

  <div class="y-challenge-decription">
      {{ challenge?.description }}
  </div>

  <div class="show-control-wrap">
    <div class="y-label">
      Show
    </div>
    <form [formGroup]="showFormGroup">
        <mat-checkbox *ngFor="let participant of challenge?.participants"
              class="y-checkbox"
              [formControlName]="participant.id"
          >
          {{ participant.displayName }}
        </mat-checkbox>
    </form>
    
    
  </div>


  <div class="y-participants__wrap">
      <div class="y-participants__block">
          <div class="y-participants__info__wrap">
              <div class="y-participants__info">
                <ng-container *ngFor="let p of challenge.participants">
                    <div *ngIf="showFormGroup.get(p.id).value" class="y-participants__info-item"
                          [ngClass]="{
                            'mobile': (screenSize$ | async) === 'mobile'
                          }"
                      >
              
                          <div class="y-participants__info-item__photo">
                              <y-photo [data]="p?.photo?.data"></y-photo>
                          </div>
                          <div class="y-participants__info-item__name">
                              {{ p.displayName }}
                          </div>
                          <div class="y-participants__show-up-rate">
                            Showed up to {{ p.showUpDaysCount }} of {{ p.totalDaysCount}}
                          </div>
                    </div>
                </ng-container>
                 
              </div>
          </div>
        
          <div #daysWrap class="y-participants__days__wrap">
              <div class="y-participants__days">
                <ng-container *ngFor="let p of challenge.participants">
                    <div *ngIf="showFormGroup.get(p.id).value" class="y-participants__days-item"
                          [ngClass]="{
                            'mobile': (screenSize$ | async) === 'mobile'
                          }"
                      >
                        <div *ngFor="let a of p.activities" class="y-participants__days-item__day"
                          >
                              <y-challenge-day-card [activity]="a"
                                                    [nextClosestId]="challenge?.nextClosestDateId"
                                                    (scrollMe)="onScrollDayIntoView($event)"
                                >
                              </y-challenge-day-card>
                          </div>
                    </div>
                </ng-container>
              </div>
          </div>

          <div *ngIf="showScrollUpButton$ | async;" class="y-scroll-up-btn"
               (click)="onScrollUpClicked()"
            >
            <button mat-mini-fab color="primary">
              <mat-icon>keyboard_arrow_up</mat-icon>
            </button>
          </div>

          <div *ngIf="showScrollDownButton$ | async;" class="y-scroll-up-btn"
                (click)="onScrollDownClicked()"
            >
            <button mat-mini-fab color="primary">
              <mat-icon>keyboard_arrow_down</mat-icon>
            </button>
          </div>
       
      </div>
  </div>

</div>

<y-widget-menu>

  <y-widget-menu-item>
    <y-widget-menu-trigger>
      <mat-icon>settings</mat-icon>
    </y-widget-menu-trigger>
    <y-widget-menu-contents>
      <div class="y-challenge-actions">
        <div    class="y-challenge-actions__item"
                *ngIf="amIparticipant | async"
                (click)="openMeasurements()"
          >
          Measurements...
        </div>
        <div class="y-challenge-actions__item"
              *ngIf="isMine | async"
                (click)="openEdit()"
          >
          Edit
        </div>
        <div    class="y-challenge-actions__item"
                *ngIf="amIparticipant | async"
                (click)="openWidgetManager()"
          >
          Widgets
        </div>
    </div>
    </y-widget-menu-contents>
  </y-widget-menu-item>
  
</y-widget-menu>