@import '../../global-styles/variables';

.y-title-1 {
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.y-title-left {
    display: flex;
}

.y-back-btn__wrap {
    margin-right: 10px;
    cursor: pointer;
    position: relative;
    bottom: -5px;
}

.challenge-name {
    margin-right: 20px;
}


.y-participants {
    $item-width: 150px;
    $item-margin: 10px;
    &__days {
        display: flex;
      
        &-item {
            &:not(:last-child) {
                margin-right: $item-margin;
            }
            width: $item-width;
            &__day {
                margin-bottom: 10px;
            }
        }
        &__wrap {
            width: 100%;
            overflow-y: auto;
            display: flex;
            justify-content: center;
        }
    }

    &__show-up-rate {
        font-size: 12px;
        color: $grey;
        text-align: center;
    }

    &__info {
        display: flex;
        &__wrap {
            display: flex;
            justify-content: center;
            padding: 20px 0;
            position: sticky;
            background-color: white;
            top: 90px;
            border-bottom: 1px solid gray;
            margin: 0 -40px;
            margin-bottom: 20px;
        }
    }

    &__info-item {
        width: $item-width;
        &:not(:last-child) {
            margin-right: $item-margin;
        }
        &__photo {
            display: flex;
            justify-content: center;
            margin-bottom: 7px; 
        }
        &__name {
            text-align: center;
            font-size: 14px;
            font-weight: 500;
        }
    }

    &__wrap {
        width: 100%;
    }
}

.y-challenge-actions {
    padding: 20px;
    &__item {
        cursor: pointer;
        padding: 20px 0;
        font-weight: bold;
        &:hover {
            text-decoration: underline;
        }
    }
}

.y-checkbox {
    margin-right: 10px;
}

.y-label {
    font-size: 12px;
}

.y-challenge-decription {
    margin-bottom: 20px;
}

.challenge-author {
    font-size: 12px;
    font-weight: normal;
    color: $grey;
}

.y-scroll-up-btn {
    position: fixed;
    bottom: 50px;
    right: 60px;
    background-color: white;
    cursor: pointer;
}
