<div class="y-nav">
    <div class="y-nav__menu"
         [ngClass]="{
             opened: opened,
             mobile: currScreenSize === ScreenSizes.MOBILE
         }"
        >
        <div class="y-nav__menu__item"
             [routerLink]="['/home', 'challenges']"
             routerLinkActive="active"
             (click)="onMenuClick()"
            >
            Challenges
        </div>

        <div class="y-nav__menu__item"
             [routerLink]="['/home', 'users']"
             routerLinkActive="active"
             (click)="onMenuClick()"
            >
            Friends
        </div>

    </div>
    <div #content class="y-nav__content"
         [ngClass]="{
                opened: opened,
                mobile: currScreenSize === ScreenSizes.MOBILE
            }">
        <ng-content *ngIf="!(isRouteLoading$ | async)" ></ng-content>
        <y-section-spinner *ngIf="isRouteLoading$ | async"></y-section-spinner>
    </div>
</div>