<div class="create-btn-wrap">
    <button [routerLink]="['/home', 'challenges', 'create']" mat-fab color="primary">
      <mat-icon>add</mat-icon>
    </button>
</div>

<div>
  <div class="y-title-1">
    Challenges
  </div>

  <div *ngFor="let item of list$ | async">
    <div class="challenge-card-wrap"
         [routerLink]="['/home', 'challenges', 'details', item.id ]"
         >
      <mat-card>
          <mat-card-header>
            <mat-card-title class="card-title__wrap">
              <div class="card-title">
                <div>{{ item.name }}</div>
              </div>
            </mat-card-title>
            <mat-card-subtitle *ngIf="item.description">
              {{ item.description }}
            </mat-card-subtitle>
          </mat-card-header>
          <button mat-icon-button class="close-btn"
                  (click)="onCloseClick(item, $event)"
            >
            <mat-icon>close</mat-icon>
          </button>
      </mat-card>
    </div>
  </div>
</div>

