<div class="popup-wrap">
        <div class="y-edit-requirements">
                <div class="y-edit-requirements__requirements">
                    <div>
                        <mat-form-field class="example-full-width">
                            <input type="text"
                                    placeholder="Select from pre-sets"
                                    matInput
                                    [formControl]="presetInputControl"
                                    [matAutocomplete]="auto">
                            <button mat-button *ngIf="presetInputControl.value"
                                    matSuffix
                                    mat-icon-button
                                    aria-label="Clear"
                                    (click)="onInputCleared()">
                                <mat-icon>close</mat-icon>
                            </button>
                            <mat-autocomplete #auto="matAutocomplete"
                                                [displayWith]="presetDisplayFn"
                                                (optionSelected)="onPresetSelected($event)"
                                >
                                <mat-option *ngFor="let option of presetOptionsFiltered$ | async" [value]="option">
                                {{ option.displayName }}
                                </mat-option>
                            </mat-autocomplete>
                        </mat-form-field>
                    </div>
                    <form *ngFor="let r of requirementsControl.controls; let i = index"
                          [formGroup]="r"
                        >
                        <div class="form-wrap">
                                <mat-form-field class="form-field">
                                        <input matInput
                                                name="reqCategory"
                                                formControlName="category"
                                                placeholder="Category">
                                </mat-form-field>
                                <mat-form-field class="form-field">
                                        <input matInput
                                                name="reqName"
                                                formControlName="display_name"
                                                placeholder="Requirement Name">
                                    </mat-form-field>
                                    <div class="close-btn-wrap">
                                        <mat-icon (click)="onRemoveClicked(i)"
                                                 *ngIf="requirementsControl.controls.length > 1"
                                            >
                                            close
                                        </mat-icon>
                                    </div>
                        </div>
                       
                    </form>
            
                    <div>
                        <button mat-raised-button
                                (click)="onAddClicked()"
                            >
                            Add
                        </button>
                    </div>
            
                </div>
                <div class="y-edit-requirements__dates">
                    <y-multi-date-picker [defaultBehavior]="true"
                                         [daysAllowed]="allowedDates"
                                         [control]="datesControl"
                      >
                    </y-multi-date-picker>
                </div>
            </div>
            <div class="action-bar">
                <button mat-raised-button color="primary"
                        (click)="onSubmit()"
                    >
                    Submit
                </button>
            </div>
</div>
