
<div class="y-header-wrap" *ngIf="user$ | async; let user">
    <div (click)="onMenuClick()" class="menu-btn">
      <mat-icon>reorder</mat-icon>
    </div>
    <div class="right-side">
        <div class="header-item">
          {{user.displayName}}
        </div>
        <div class="header-item">
          <y-photo [data]="user?.photo?.data"></y-photo>
        </div>
        <div class="header-item">
            <button (click)="onSignOutClick()">Sign Out</button>
    
            <div *ngIf="isLoading$ | async">Processing log out...</div>
        </div>
    </div>
   
</div>
   
