@import '../../global-styles/variables';

.y-section-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 40px;

    &__back-btn__wrap {
        height: 23px;
        padding-right: 12px;
        cursor: pointer;
    }

    &__left {
        display: flex;
        align-items: center;
    }
}


.y-title-2 {
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 20px;
}

.y-section {
    margin-bottom: 20px;
}

.y-activity-status {
    margin-bottom: 20px;
    &.show-up {
        margin-bottom: 20px;
        padding: 10px $padding-side;
        margin: 0 calc(-1 * #{$padding-side}) 20px;
        background-color: $blue;
        color: white;
    }

    &__show-up {
        display: flex;
        
        div {
           margin-right: 10px; 
        }
    }
}