<ng-container *ngIf="activity$ | async; let activity;">

<div class="y-section-header">
  <div class="y-section-header__left" (click)="goBack()">
      <div class="y-section-header__back-btn__wrap">
          <mat-icon>keyboard_arrow_left</mat-icon>
      </div>
      <div class="y-section-header__title__wrap">
        {{ activity?.displayLabel }}
      </div>
  </div>
  <div *ngIf="isActive | async" class="y-section-header__right">
    <button *ngIf="!(loading$ | async)"
            (click)="showUpDate()"
            mat-raised-button
            color="primary">
      Show Up
    </button>
    <div *ngIf="loading$ | async">
      Loading...
    </div>
  </div>
</div>

<div class="y-activity-status" [ngClass]="{
                  'show-up': activity.isShowUp,
                  'future': activity?.isFuture,
                  'active': isActive | async
                }"
>
    <div *ngIf="activity?.isShowUp" class="y-activity-status__show-up">
        <div *ngIf="showUpText$ | async; let showUpText;">
          {{ showUpText }}. <span *ngIf="isMine | async">
            <ng-container *ngIf="cheerUpText$ | async; let cheerUpText">
                {{ cheerUpText }}
            </ng-container>
          
          </span>
        </div> <mat-icon *ngIf="isMine">grade</mat-icon>
    </div>
    <div *ngIf="activity?.isFuture">
        Wait till {{activity.displayLabel }} to show up for this activity 
    </div>
    <div *ngIf="isActive | async">
        Show up for this activity
    </div>
</div>

<div *ngIf="hasMeasurements$ | async" class="y-measurements y-section">
    <div class="y-title-2">
        Measurements <span *ngIf="isActive | async">(optional)</span>
    </div>

    <div>
      <y-edit-measurements [measurements]="activity?.measurements"
                           *ngIf="(isActive | async)"
        >
      </y-edit-measurements>
      <y-display-measurements [showAll]="activity?.isFuture"
                            [measurements]="activity?.measurements"
                            *ngIf="!(isActive | async)"
        >
      </y-display-measurements>
    </div>
</div>

</ng-container>

<!-- TODO: Uncomment when ready -->
<y-widget-menu>

    <y-widget-menu-item *ngFor="let widget of widgets$ | async">
      <y-widget-menu-trigger>
        <y-widget-icon [widget]="widget"></y-widget-icon>
      </y-widget-menu-trigger>
      <y-widget-menu-contents>
        <y-widget-renderer [widget]="widget"></y-widget-renderer>
      </y-widget-menu-contents>
    </y-widget-menu-item>
    
  </y-widget-menu>