
@font-face {
    font-family: Roboto;
    font-weight: 400;
    src: url("/assets/fonts/Roboto/Roboto-Regular.woff");
}



@font-face {
    font-family: Roboto;
    font-weight: 300;
    src: url("/assets/fonts/Roboto/Roboto-Thin.woff");
}


@font-face {
    font-family: Roboto;
    font-weight: 500;
    src: url("/assets/fonts/Roboto/Roboto-Bold.woff");
}