@import '../../global-styles/variables';

.y-requirement {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    max-width: 200px;
}

.y-requirement-name {
    margin-right: 30px;
}

.y-category-header {
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 11px;
}

.completed-icon {
    color: $accent;
}