@import '../../global-styles/variables';

.m-edit-measurements-root {
    padding-bottom: 100px;
}

.y-section-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 40px;

    &__back-btn__wrap {
        height: 23px;
        padding-right: 12px;
        cursor: pointer;
    }

    &__left {
        display: flex;
        align-items: center;
    }
}


.y-review {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -40px 30px;
    padding: 20px 40px;

    &__step {
        display: flex;
        margin-right: 20px;
        margin-bottom: 10px;
        cursor: pointer;
        opacity: 0.5;
        &.active {
            opacity: 1;
            border-bottom: 2px solid $blue;
        }
        &:hover {
            opacity: 1;
        }
    }
} 


.bottom-bar {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: white;
    padding: 20px $padding-side;
    display: flex;
    justify-content: flex-end;

    button:not(:last-child) {
        margin-right: 20px;
    }
}