@import '../../global-styles/variables';

.y-day-card {
    height: 100px;
    cursor: pointer;
    border: 1px solid grey;
    border-radius: 4px;
    padding: 15px;
    &.active {
        border: 2px solid $blue;
        &__date {
            color: $blue;
        }
    }
    &__date {
        text-align: center;
        font-size: 12px;
        font-weight: 500;
    }

    &__completed {
        margin: 10px 0;
        display: flex;
        justify-content: center;
    }
}